.offer_box{
    
    margin-top: '64px';
}
.offers_container{
    overflow: hidden;
}
@media (max-width:786px) {
    .offer_slider {

        display: none;
    }
}

@media (min-width: 789px){
    .offer_box{
        display: none;
    }
}